:root {
    --accent-color: #EE3643;
    --basic-green: #63A63E;
    --basic-grey-light:#32425C;
    --basic-grey-dark:#293449;
    --special-grey-background: #F1F5F7;
    --title-background: #F9F5F0;
    --filter-sorter-background: #F7F3EC;;
  
    --basic-grey-background: #F3F7F9;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-green-light: #8ED78F;
    --special-green-dark: #518534;

    --white: #FFFFFF;
    --black-text: #000000;
    --grey-dark-text: #A9A9A9;
    --grey-light-text: #F3F7F9;
    --yellow-text: #FFD180;

    --success: #5FBB2D;
    --error: #BA2732;
    --gradient: #EAEAEA;
    --click-light: rgba(255, 255, 255, 0.5);
    --click-dark: #C5C5C5;
    --grey-border: #E5E5E5;
  }

  body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--black-text);
    background-color: var(--white);
  }

  a {text-decoration: none;}
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /*Header*/
  .header {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    background-color: var(--basic-grey-background);
  }

  .header-top {
    background-color: var(--basic-grey-dark);
  }

  .header-top a {
    color: var(--white);
  }

  .search-form input{
    background-color: transparent;
    border:none;
  }
  .search-form input::placeholder{
    color: var(--white);
  }
  .search-form input:focus {
    background-color: var(--white);
  }
  

  .header-order {
    background-color: var(--basic-green);
  }
  .header-order:hover {
    background-color: var(--success);
  }

  .header-bookmarks:active,
  .header-cart:active, 
  .header-order:active {
    color: var(--click-light);
  }

  .header-description {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--accent-color);
  }

  .header-address {
    font-style: normal;
    font-size: 14px;
    color: var(--basic-grey-light);
  }

  .header-address a {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--accent-color);
  }

 .user-block {
  background-color: var(--white);
 }
 .user-block a {
  font-size: 21px;
  line-height: 21px;
  color: var(--black-text);
 }
 .user-block-unlogged a:hover{
   color: var(--accent-color);
 }
 .user-block-unlogged a:active {
   color: var(--click-dark);
 }

  .main-nav {
    background-color: var(--basic-grey-light);
  }

  .main-nav a {
    color: var(--white);
  }
  .main-nav a:hover{
    background-color: var(--basic-grey-dark);
  }
  .main-nav a:active {
    background-color: var(--basic-grey-dark);
    color: var(--click-light);
  }

  .main-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .button {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--accent-color);
    border:none;
  }
  .button:active {
    background-color: var(--error);
   }

  /*Footer*/
.footer {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

  .footer-top {
    color: var(--basic-grey-background);
    background-color: var(--basic-grey-light);
  }

  .footer-address {
    font-style: normal;
  }
  .footer-address a{
    color: var(--basic-grey-background);
  }

  .footer-nav, 
  .footer-catalog-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-nav a{
    color: var(--basic-grey-background);
  }
  .footer-catalog-nav a {
    color: var(--yellow-text);
  }
  .footer-nav a:hover,
  .footer-catalog-nav a:hover{
    text-decoration: underline;
  }
  .footer-nav a:active,
  .footer-catalog-nav a:active{
    text-decoration: none;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .footer-bottom {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-grey-dark);
  }
  .footer-bottom a {
    color: var(--yellow-text);
  }
  .footer-bottom a:hover{
    text-decoration: underline;
  }
  .footer-bottom a:active{
    text-decoration: none;
    color:var(--accent-color);
  }
  
  .social-list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
   /*Main page*/
   .block-title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }
  
  .category {
    font-family:'Cuprum', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--white);
  } 
  .category-item {
    margin:0;
    /*и общие стили: отступы, ширина и тд*/
  }
  .category-item-material,
  .category-item-delivery {
    background-color: var(--special-yellow);
  }
  .category-item-tool {
    background-color: var(--special-blue);
  }
  .category-item-equipment {
    background-color: var(--special-lilac);
  }
  .category-item-sale {
    background-color: var(--special-green-light);
  }
  .category-button {
    background-color: var(--white);
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  .category-button:hover {
    background-color: var(--click-dark);
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  .category-button:active {
    background-color: var(--grey-dark-text);
    mix-blend-mode: normal;
    opacity: 0.3;
  }


  .slider-pic {
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
  }
  .slider-pic p {
    margin:0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .slider-perforator {
    background-color: var(--basic-grey-light);
    background-image: url(../img/perf.jpg);
  }
  .slider-drill {
    background-color: var(--basic-grey-light);
    background-image: url(../img/drel.jpg);
  }
  .slider-title{
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .popular-title {
    background-color: var(--title-background);
  }
  .popular-title h2 {
    color: var(--basic-grey-light);
  }
  .popular-item-list,
  .popular-manufacturer-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .service {
    background-color: var(--basic-grey-background);
  }
  .service-list,
  .service-detailed-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .service-title {
    color: var(--basic-grey-light);
  }
  .service-button {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
    background-color: var(--basic-grey-light);
    border-style: none;
  }
  .service-button:hover{
    background-color: var(--basic-grey-dark);
  }

  .about-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
  }
 
/*Catalog*/
.header-cart-user {
  background-color: var(--accent-color);
}

.user_nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-nav a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey-light)
}
.user-nav a:hover{
  color: var(--accent-color);
}
.user-block-logged a:active{
  color: var(--click-dark);
}

.catalog-title {
  color: var(--basic-grey-light);
  background-color: var(--basic-grey-background);
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs a {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-text);
}

.catalog-sorter {
  background-color: var(--filter-sorter-background);
}
.catalog-sorter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-sorter-field {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--accent-color);
  color: var(--black-text);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*цвет текста остается серым, почему-то не применятся color: var(--black-text);*/
.catalog-sorter-field:hover {
  color: var(--black-text);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--accent-color);
}

.catalog-filter {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
} 

.catalog-sorter-title,
.catalog-filter-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-text);
}
.catalog-filter-title{
  background-color: var(--filter-sorter-background);
}

.catalog-filter-group {
  margin:0;
  padding:0;
  border:none;
}

.catalog-filter-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.catalog-filter-manufacturer-list, 
.catalog-filter-power-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-manufacturer-type:active{
  mix-blend-mode: normal;
  opacity: 0.4;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
}
.catalog-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-item-old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-dark-text);
}
.catalog-item-price {
  margin:0;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--accent-color);
  background-image: url(../img/red_button.svg);
}

.about-perforator {
  background-color: var(--special-grey-background);
}

  .catalog-filter-button {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: var(--black-text);
    background-color: var(--white);
    border: 1px solid var(--grey-border);
  }

  .pages-button {
    color: var(--black-text);
    background-color: var(--white);
    border: 1px solid var(--grey-border);
  }

  .pages-button:hover,
  .catalog-filter-button:hover {
    border-color: var(--click-dark);
  }

  /*не применяется к catalog-filter-button:focus */
  .pages-button:active,
  .catalog-filter-button:focus {
    background-color: var(--white);
    border-color: var(--accent-color);
  }

  .item-buy-button {
    background-color: var(--basic-green);
  }
  .item-buy-button:hover {
    background-color: var(--success);
  }
  .item-buy-button:active {
    background-color: var(--special-green-dark);
  }

  .item-bookmarks-button {
    color: var(--basic-grey-light);
    background-color: var(--white);
    border: 3px solid var(--basic-green);
  }
  .item-bookmarks-button:hover{
    cursor: pointer;
    border: 3px solid var(--basic-grey-light);
  }
  .item-bookmarks-button:active{
    cursor: pointer;
    background-color: var(--white);
    border: 3px solid;
    mix-blend-mode: normal;
    opacity: 0.3;
  }

  /*Modal*/
  .modal {
    display: none;
  }


