:root {
    --accent-color: #EE3643;
    --basic-green: #63A63E;
    --basic-grey-light:#32425C;
    --basic-grey-dark:#293449;
    --special-grey-background: #F1F5F7;
    --title-background: #F9F5F0;
    --filter-sorter-background: #F7F3EC;;
  
    --basic-grey-background: #F3F7F9;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-green-light: #8ED78F;
    --special-green-dark: #518534;

    --white: #FFFFFF;
    --black-text: #000000;
    --grey-dark-text: #A9A9A9;
    --grey-light-text: #F3F7F9;
    --yellow-text: #FFD180;

    --success: #5FBB2D;
    --error: #BA2732;
    --gradient: #EAEAEA;
    --click-light: rgba(255, 255, 255, 0.5);
    --click-dark: #C5C5C5;
    --grey-border: #E5E5E5;
    --social-icon: #212A3A;
    --shadow-logo: #B52933;
  }

  body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--black-text);
    background-color: var(--white);
  }

  a {text-decoration: none;}
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page {
    height: 100%;
  }
  .page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  /*Header*/
.header {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--basic-grey-background);
}

.header-top-wrapper {
  background-color: var(--basic-grey-dark);
}

.logo {
  width: 220px;
  background-color: var(--accent-color);
  box-shadow: 0px 5px 0px 0px var(--shadow-logo);
}

.header-logo {
  height: 42px;
}
.header-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}


.header-top-wrapper a {
  color: var(--white);
}

.header-top-container {
  display: flex;
  flex-wrap: wrap;
}




.search-form input{
  background-color: transparent;
  border:none;
  width: 270px;
  padding:0;
  padding-bottom: 9px;
  padding-top: 9px;
  outline: none;
}
.search-form input::placeholder{
  color: var(--white);
  padding-left: 43px;
  padding-bottom: 9px;
  padding-top: 9px;
}
.search-form input:focus {
  background-color: var(--white);
}

  .header-bookmarks {
    width: 99px;
    padding: 9px 8px 9px 43px;
  }
  .header-cart {
    width: 92px;
    padding: 9px 8px 9px 50px;
  }
  .header-order {
    width: 115px;
    background-color: var(--basic-green);
    padding: 9px 16px 9px 19px;
  }
  .header-order:hover {
    background-color: var(--success);
  }

  .header-bookmarks:active,
  .header-cart:active, 
  .header-order:active {
    color: var(--click-light);
  }

  .header-bottom-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 46px;
    padding-bottom: 60px;
    justify-content: space-between;
  }
  
  .header-description {
    width: 197px;
    margin: 0 0 45px 0;
    padding-left: 30px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--accent-color);
  }

  .header-address {
    width: 270px;
    font-style: normal;
    font-size: 14px;
    color: var(--basic-grey-light);
    text-align: center;
    margin-bottom: 40px;
  }

  .header-address a {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--accent-color);
    border: 3px solid var(--white);
  }
  .header-address p {
    margin: 0;
  }

 .user-block {
  padding: 0;
  margin: 0;
  margin-bottom: 67px;
 }
 .user-block a {
  font-size: 21px;
  line-height: 21px;
  color: var(--black-text);
 }
 .user-block-unlogged a{
   background-color: var(--white);
 }
 .user-block-unlogged a:nth-child(1) {
   padding: 12px 26px 12px 44px;
   margin-right: 10px;
 }
 .user-block-unlogged a:nth-child(2) {
  padding: 12px 25px 12px 23px;
}
 .user-block-unlogged a:hover{
   color: var(--accent-color);
 }
 .user-block-unlogged a:active {
   color: var(--click-dark);
 }

  .main-nav {
    background-color: var(--basic-grey-light);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 20px;
    box-shadow: inset 0px -5px 0px #293449;
  }

  .main-nav-list {
    margin: 0;
    padding: 0 23px 0 26px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  .main-nav a {
    color: var(--white);
    padding: 16px 24px 20px 27px;
  }
  .main-nav a:hover{
    background-color: var(--basic-grey-dark);
  }
  .main-nav a:active {
    background-color: var(--basic-grey-dark);
    color: var(--click-light);
  }

  

  .button {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--accent-color);
    border:none;
    padding-top: 11px;
    padding-bottom: 9px;;
  }
  .button:active {
    background-color: var(--error);
   }

  /*Footer*/
.footer {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

  .footer-top-wrapper {
    color: var(--basic-grey-background);
    background-color: var(--basic-grey-light);
    width:100%;
    min-height: 193px;
  }

  .footer-top-container {
    display: flex;
    flex-wrap: wrap;
  }
 
  .footer-logo {
    display: inline-block;
    padding: 20px 41px 15px 41px;
    background-color: var(--accent-color);
    box-shadow: 0px 5px 0px 0px var(--shadow-logo);
  }
  .footer-logo img {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-top-left {
    margin-right: 69px;
  }

  .footer-address {
    font-style: normal;
    width: 321px;
    margin-top:22px;
    padding-left:3px;
  }
  .footer-address p{
    margin:0;
  }
  .footer-address a{
    color: var(--basic-grey-background);
  }
  .footer-top-right {
    padding-top: 37px;
  }
  
  .footer-nav, 
  .footer-catalog-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-nav {
    margin-bottom: 34px;
    margin-right: -58px;
  }

  .footer-nav a{
    color: var(--basic-grey-background);
    margin-right: 58px;
  }
  .footer-catalog-nav{
    margin-left: 22px;
    margin-right: -58px;
  }
  
  .footer-catalog-nav a {
    color: var(--yellow-text);
    margin-right: 58px;
  }

  .footer-nav a:hover,
  .footer-catalog-nav a:hover{
    text-decoration: underline;
  }
  .footer-nav a:active,
  .footer-catalog-nav a:active{
    text-decoration: none;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .footer-bottom-wrapper {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-grey-dark);
  }
  .footer-bottom-container {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0 35px 0;
  }
  .footer-bottom-container p {
    margin:0;
  }
  .copyright {
    width: 227px;
    padding-right: 12px;
    padding-left: 1px;
  }
  .social-list{
    margin: 0;
    padding:0;
    padding-right: 129px;
    padding-left: 149px;
    width: 122px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .feedback {
    width: 137px;
    padding-right: 23px;
  }
  .developer {
    width: 98px;
    padding-left: 30px;
    padding-right: 12px;
  }
 
  
  .footer-bottom-container a {
    color: var(--yellow-text);
  }
  .footer-bottom-container a:hover{
    text-decoration: underline;
  }
  .footer-bottom-container a:active{
    text-decoration: none;
    color:var(--accent-color);
  }

  
   /*Main page*/
   .block-title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin:0;
  }
  
.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top:59px;
  margin-bottom: 59px;

  font-family:'Cuprum', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
} 

.slider {
  grid-column: 1/ span 2;
  grid-row: 2/ span 2;
}

  .category p{
    margin:0;
  }
  .category-item {
    margin: 0;
    height: 123px;
    background-repeat: no-repeat;
    background-position: right;
  }
  .category-item-material,
  .category-item-delivery {
    background-color: var(--special-yellow);
  }
  .category-item-material{
    background-image: url(../img/icon_1.svg);
  }
  .category-item-tool {
    background-color: var(--special-blue);
    background-image: url(../img/icon_2.svg);
  }
  .category-item-equipment {
    background-color: var(--special-lilac);
    background-image: url(../img/icon_3.svg);
  }
  .category-item-sale {
    background-color: var(--special-green-light);
    background-image: url(../img/icon_4.svg);
  }
  .category-item-delivery{
    background-image: url(../img/icon_5.svg);
  }
  .category-button {
    background-color: var(--white);
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  .category-button:hover {
    background-color: var(--click-dark);
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  .category-button:active {
    background-color: var(--grey-dark-text);
    mix-blend-mode: normal;
    opacity: 0.3;
  }


  .slider-pic {
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
  }
  .slider-pic p {
    margin:0;
    padding:0;
    padding-left: 24px;
    margin-bottom: 113px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  .slider-perforator {
    background-color: var(--basic-grey-light);
    background-image: url(../img/perf.jpg);
  }
  .slider-drill {
    display: none;
    background-color: var(--basic-grey-light);
    background-image: url(../img/drel.jpg);
  }
  .slider-title{
    margin:0;
    padding: 23px 0 5px 24px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }
  .open-catalog-button {
    padding-left: 46px;
    padding-right: 46px;
    margin-left: 24px;
  }
 


  .popular{
    padding-bottom: 70px;
  }
  .popular-title {
    background-color: var(--title-background);
    display: flex;
    flex-wrap: wrap;
    padding-right: 14px;
    padding-left: 28px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 26px;
  }
  .popular-title h2 {
    color: var(--basic-grey-light);
    width: 500px;
    padding-right: 204px;
    padding-top: 5px;
  }
  .popular-item-button {
    padding-left: 24px;
    padding-right: 24px;
  }

  .popular-item-list,
  .popular-manufacturer-list {
    margin: 0;
    margin-right: -20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .popular-manufacturer-button {
    padding-left: 39px;
    padding-right: 38px;
  }

  .popular-manufacturer-list {
    margin-bottom: -20px;
  }

  .popular-manufacturer-list li {
    border: 1px solid var(--gradient);
    width: 218px;
    height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .popular-manufacturer-logo {
    object-fit: contain;
    object-position: center;
  }


  .service {
    background-color: var(--basic-grey-background);
    padding-top: 64px;
    padding-bottom: 99px;
  }
  .service-lead{
    margin:0;
    width: 397px;
    margin-bottom: 67px;
  }
  .service-container h2 {
    margin:0;
    margin-bottom: 25px;
  }
  .service-detailed {
    display: flex;
  }
  .service-list,
  .service-detailed-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .service-list {
    margin-right: 80px;
  }
  .service-title {
    color: var(--basic-grey-light);
    margin:0;
    margin-bottom: 30px;
  }
  .service-description{
    margin:0;
    width: 313px;
  }
  .service-button {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
    background-color: var(--basic-grey-light);
    border-style: none;

    width: 240px;
    padding: 13.5px 20px 17.5px 22px;
    outline: none;
    text-align: left;
  }
  .service-button:hover{
    background-color: var(--basic-grey-dark);
  }

  .index-columns{
    display:flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about{
    width: 460px;
  }
  .about h2,
  .contacts h2 {
    margin-bottom: 24px;
  }
  .about p{
    margin:0;
  }

  .about p:nth-child(2) {
    padding-bottom: 24px;
}

  .about-list {
    padding: 0;
    margin: 3px 0 20px 35px;
    list-style: none;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
  }
  .about-list li {
    padding-bottom: 12px;
  }

  .contacts {
    width: 301px;
  }
  .contacts p{
    margin:0;
    padding-bottom: 32px;
  }
  .map-pic {
    margin-bottom: 25px;
  }

  .about-button {
    padding-left: 40px;
    padding-right: 40px;
  }
  .contacts-button {
    padding-left: 62px;
    padding-right: 61px;
  }
 
/*Catalog*/
/*Шапка каталога*/

.header-cart-user {
  background-color: var(--accent-color);
}

.user-block-logged p{
  margin:0;
  padding: 12px 57px 12px 56px;
  background-color: var(--white);
}

.user-nav {
  margin: 0;
  padding: 0;
  padding-left: 46px;
  margin-top: 7px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.user-nav a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey-light);
  padding-right: 31px;
}

.user-nav a:hover{
  color: var(--accent-color);
}
.user-block-logged a:active{
  color: var(--click-dark);
}

/*main каталога*/
.catalog-title {
  color: var(--basic-grey-light);
  background-color: var(--basic-grey-background);
  padding: 29px 0 29px 29px;
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 20px;
  list-style: none;
}
.breadcrumbs a {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-text);
  padding-right: 41px;
}

.catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: min-content 1fr;
  padding-bottom: 59px;
  grid-gap: 20px;
}
/*Фильтр*/
.catalog-filter {
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
} 

.catalog-sorter-title,
.catalog-filter-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-text);
  margin: 0;
}
.catalog-filter-title{
  background-color: var(--filter-sorter-background);
  padding: 10px 0 10px 18px;
}
.catalog-filter-subtitle{
  margin:0;
}
.catalog-filter-group {
  margin:0;
  padding:0;
  padding-top:16px;
  border:none;
}

.catalog-filter-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  border-top: 1px solid var(--click-dark);
  padding-top: 16px;
  width:220px;
}

.catalog-filter-manufacturer-list, 
.catalog-filter-power-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-filter-manufacturer-list{
  padding-bottom: 12px;
}
.catalog-filter-manufacturer-list li{
  margin-bottom: 20px;
}
.catalog-filter-power-list li{
  margin-bottom: 22px;
}
.filter-manufacturer-type:active{
  mix-blend-mode: normal;
  opacity: 0.4;
}


/*Сортировка*/
.catalog-sorter {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--filter-sorter-background);
  display: flex;
  flex-wrap: wrap;

  padding: 7px 0px 7px 20px;
}
.catalog-sorter p{
  margin:0;
  text-transform: uppercase;
}
.catalog-sorter-list {
  margin: 0;
  padding:0;
  padding-left: 140px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-sorter-field {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--accent-color);
  color: var(--grey-dark-text);
  margin-right: 70px;

}


.catalog-sorter-field:hover {
  color: var(--black-text);
  border-bottom: 1px solid var(--accent-color);
}



/*товары*/
.catalog-item-list {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  margin:0;
  margin-right: -20px;
  padding: 0;
  list-style: none;
}


.catalog-item {
  width: 218px;
  margin: 0 20px 18px 0;
  border: 1px solid var(--gradient);
  display: flex;
  flex-direction: column;
}
.catalog-item img{
order:-1;
}
.catalog-item-title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.catalog-item-old-price {
  align-self: center;
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-dark-text);
}
.catalog-item-price {
  align-self: center;
  margin:0;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--accent-color);
  background-image: url(../img/red_button.svg);
}

  .catalog-filter-button {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: var(--black-text);
    background-color: var(--white);
    border: 1px solid var(--grey-border);
    padding: 10px 79px 10px 78px;
    outline: none;
  }

  .pages {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .pages-button {
    color: var(--black-text);
    background-color: var(--white);
    border: 1px solid var(--grey-border);
    padding: 10px 15px;
    margin-right:10px;
  }
  .pages a:last-child{
    padding-right: 31px;
    padding-left: 32px;
  }

  .pages-button:hover,
  .catalog-filter-button:hover {
    border-color: var(--click-dark);
  }


  .pages-button:active,
  .catalog-filter-button:focus {
    background-color: var(--white);
    border-color: var(--accent-color);
  }

  .item-buy-button {
    background-color: var(--basic-green);
  }
  .item-buy-button:hover {
    background-color: var(--success);
  }
  .item-buy-button:active {
    background-color: var(--special-green-dark);
  }

  .item-bookmarks-button {
    color: var(--basic-grey-light);
    background-color: var(--white);
    border: 3px solid var(--basic-green);
  }
  .item-bookmarks-button:hover{
    cursor: pointer;
    border: 3px solid var(--basic-grey-light);
  }
  .item-bookmarks-button:active{
    cursor: pointer;
    background-color: var(--white);
    border: 3px solid;
    mix-blend-mode: normal;
    opacity: 0.3;
  }


  .about-perforator {
    background-color: var(--special-grey-background);
    margin:0;
    padding: 0;
    padding-top:64px;
    padding-bottom: 68px;
  }
  .about-perforator-title {
    margin-bottom: 25px;
  }
  

  /*Modal*/
  .modal {
    display: none;
  }


